@font-face {
  font-family: whatever;
  src: url(./font/whatever.ttf) format('truetype');
  font-size: 50px;
}
@font-face {
  font-family: whatever-bold;
  src: url(./font/whatever_bold.ttf) format('truetype');
}
@font-face {
  font-family: miseng;
  src: url(./font/SDMisaeng.ttf) format('truetype');
}
@font-face {
  font-family: airways;
  src: url(./font/Airways.ttf) format('truetype');
}

#usageLink, #photoMap {
  cursor : pointer;
  &:hover {
    color : white;
  }
}
.guideImages {
  position: relative;
  top: 10px;
  overflow-y: scroll;
  width : 90%;
  height: 100%;
  .indexButtons {
    position: relative;
    display: inline;
    button {
      box-shadow: 5px 8px 10px #282828;
      background: white;
      a {
        color : black;
        font-size : 1vw;
      }
    }
  }
  p {
    font-size : 45px;
    font-weight: bold;
  }
  img {
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    border: solid 2px #8c8c8c;
    background: #3c3c3c;
  }
}



.infowWindowSearchBtnCfg {
  font-family: miseng;
  font-size : 15px;
  position : absolute;
  left: 30vw;
  top: 4vh;
}

.infoWindowThumbnailImagesCfg {
  width: 100%;
  height: 20vh;
  overflow-x: scroll;
  display: inline-flex;
  border: 2px solid #282828;
  background-color: #282828;
  .infoWindowImage {
    width: 40%;
    height: 100%;
    padding : 5px;
    border: 2px solid #3c3c3c;
  }
}

.footer {
  width : 100%;
  height : 7vh;
  font-family : miseng;
  position: absolute;
  top: 93%;
  line-height: 10px;
  z-index: 1;
  padding: 1vh 0 0 11vw;
  .footer_content {
    font-size : 1.5vw;
  }
}
.queryresultimage_back {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 10;
}


.queryResultImageCfg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 100;
  width: 50vw;
  height: 50vh;
  border: solid 3px black;
  padding: 5px;
  background: lightgray;
  span {
    position: absolute;
    color: #FFA2AD;
    font-size: 3vw;
    left: 94%;
    cursor : pointer;
    &:hover {
      color : #93DAFF;
    }
  }
  img {
    width: 100%;
    height: 100%;
  }
}

// nearby google place search result infoWindow configuration
.placeInfoCfg {
  font-family: miseng;
  .placeName {
    span {
      font-size : 34px;
      font-weight : bold;
    }
  }
  .placeLocation {
    font-size : 25px;
    font-weight : 200;
  }
  .placeImages {
    display: flex;
    overflow-x: scroll;
    border: 2px solid #282828;
    background-color: #282828;
    span {
      width: 17vw;
      height: 15vh;
      display: table;
      img {
        width: 100%;
        height: 100%;
        border: 2px solid #3c3c3c;
        margin: 5px 5px 10px;
      }
    }
  }
}

.backImg {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#491313+15,000000+24,4c4c4c+39,4c4c4c+39,000000+47,000000+52,000000+58,000000+67&0.77+39,0.3+91 */
  background: -moz-linear-gradient(45deg,  rgba(73,19,19,0.77) 15%, rgba(0,0,0,0.77) 24%, rgba(76,76,76,0.77) 39%, rgba(0,0,0,0.7) 47%, rgba(0,0,0,0.65) 52%, rgba(0,0,0,0.6) 58%, rgba(0,0,0,0.52) 67%, rgba(0,0,0,0.3) 91%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg,  rgba(73,19,19,0.77) 15%,rgba(0,0,0,0.77) 24%,rgba(76,76,76,0.77) 39%,rgba(0,0,0,0.7) 47%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.6) 58%,rgba(0,0,0,0.52) 67%,rgba(0,0,0,0.3) 91%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg,  rgba(73,19,19,0.77) 15%,rgba(0,0,0,0.77) 24%,rgba(76,76,76,0.77) 39%,rgba(0,0,0,0.7) 47%,rgba(0,0,0,0.65) 52%,rgba(0,0,0,0.6) 58%,rgba(0,0,0,0.52) 67%,rgba(0,0,0,0.3) 91%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c4491313', endColorstr='#4d000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  //background: url(./img/snow-gif-8.gif) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index : 1;
}
body {
  font-family: whatever;
  font-size: 25px;
}
.queryResultConfig {
  display: none;
  .queryresultshow {
    display: inline;
    width: 29vw;
    height: 96vh;
    float : right;
    background-color : rgba(0,0,0,0.83);
    border : solid 2px #282828;
    border-radius: 10px;
    box-shadow: -8px 9px 24px grey;
    margin : 20px 0 0 0;
    overflow-y: scroll;
    .queryResultTitle {
      font-weight: bold;
      width: 100%;
      margin-top : 10px;
      height: 40px;
      p {
        text-align: center;
        font-size : 40px;
        color : white;
        text-shadow: 6px 8px 7px grey;
      }
    }

    .queryResultClose {
      position: fixed;
      display: inline-block;
      top: 93%;
      left: 94%;
      button {
        width: 50px;
      }
    }
    .querythumbnail {
      width: 100%;
      height : 38%;
      padding: 20px;

      img {
        background-color : lightgrey;
        width: 100%;
        height: 100%;
        border: solid 2px black;
        padding: 5px;
        border-radius : 5%;
        box-shadow: 4px 3px 22px lightgrey;
      }
      .thumbnailInfo {
        display: none;
        position: relative;
        line-height: 20px;
        top : -100%;
        padding : 10px;
        color: white;
        width: 100%;
        height: 100%;
      }
      &:hover {
        .thumbnailInfo {
          background-color : rgba(0,0,0,0.6);
          display: inline-block;
          height: 100%;
          width: 100%;

        }
      }
    }
  }

}


//Title default Config
.pageTitleConfig {
  width: 100%;
  position: fixed;
  display: block;
  text-align: center;
  letter-spacing: 16px;
  top: 1%;
  z-index : 2;
  p {
    text-shadow: 3px 7px 10px #282828;
    font-size: 70px;
    font-family: airways;
    font-weight: 400;
    color: #1E3269;
  }
}

.top-navConfig {
  height: 50px;
  width: 74vw;
  margin-top: 1%;
  position: relative;
  display: block;
  border: solid lightgrey 2px;
  border-radius : 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+50,000000+86&0.65+43,0+100 */
  background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.57) 50%, rgba(0,0,0,0.16) 86%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.57) 50%,rgba(0,0,0,0.16) 86%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.57) 50%,rgba(0,0,0,0.16) 86%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 */
  box-shadow: 11px 9px 20px #C0FFFF;

  div {
    margin: 12px 0 0 17px;
    color: #FFE6EB;
    word-spacing: -11px;
    display: inline-flex;
    span {
      font-size : 2vw;
    }
    a {
      color: #FFE6EB;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
  #LogOut {
    cursor: pointer;
    &:hover {
      color: white;
    }
  }
}



.thumbnail_fix {
  #thumbnails {
    float: left;
    border: double #464646 5px;
    height: 100%;
    margin: 22px 0 0 0;
    display: inline-block;
    overflow-y: scroll;
    box-shadow: 8px 8px 30px #282828;
    line-height: 32px;
    .icons {
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-end;
      color: #1E3269;
      button  {
        background-color: transparent;
        border: none;
        span {
          font-size: 20px;
        }
      }
    }
    label  {
      color : #1E3269;
    }
    a{
      margin-top: 10px;
      margin-right: 10px;
      position: relative;
      background: gray;
      img{
        margin:0;
        width: 100%;
      }
      &:hover{
        background-color: black;
        img {
          opacity: 0.5
        }
        .badge {
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          font-size: 20px;
          background-color: transparent;
        }
      }
      .badge {
        display:none;
      }
    }
  }
}

// @maincontainerConfig
.mainContainerConfig {
  left: 50%;
  transform: translateX(-50%);
  height:70%;
  width: 80%;
  top: 13%;
  position: absolute;
  z-index : 2;
  .row {
    height: 100%;
  }
}

// @mapContainer variable
.mapdisplayConfig {
  #mapDisplayed {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 20px;
    box-shadow: 8px 8px 30px #282828;
    border: solid 2px #464646;
  }
}
@keyframes slideIn {
  from {transform: perspective(15px) translateZ(0px)}
  to {transform: perspective(15px) translateZ(-2px)}
}
@keyframes slideOut {
  from {transform: perspective(15px) translateZ(-2px)}
  to {transform: perspective(15px) translateZ(0px)}
}
// @slide show default config
.slideConfig {
  transform-style: preserve-3d;
  transform: perspective(15px) translateZ(-2px);
  display: inline-grid;
  pointer-events: none;
  user-select: none;
  margin: 5px;
  position: relative;
  height: 485px;
  width: 580px;
  span {
    display: none;
    position: relative;
    color: white;
  }
  textarea {
    display:none;
    position: relative;
    width: 470px;
    height: 70px;
  }
  input {
    display: none;
    position: relative;
    width: 480px;
  }
  button {
    display:none;
    position: relative;
    float: right;
  }
  img {
    opacity: 0.4;
    width: 31vw;
    height: 47vh;
    position: relative;
  }
  .tag_btn {
    float: left;
  }
  .container_tag {
    margin-top: 5px;
  }
  .container_captionArea {
    button {
      top: 16px;
    }
    margin-top: 5px;
  }
}

// @current slide of slides configuration
.currentSlideConfig {
  animation: slideOut 4s;
  transform: perspective(15px) translateZ(0px);
  span {
    display: inline;
  }
  textarea, button,input {
    display: inline;
    pointer-events: auto;
    user-select: text;
  }
  img {
    opacity: 1;
    padding: 5px;
    border: red dashed 2px;
  }
  .tagbuttons {
    display: inline-block;
  }
}

//image-carousel style
.handleConfig {
  display: none;
  background: rgba(0,0,0,0.8);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  .imageCarouselTitle {
    position: absolute;
    top: 13%;
    left: 30%;
    color: white;
    width: 100%;
    z-index:-1;
    span {
      float: right;
      position: relative;
      margin-right: 32%;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
    .travelQuote {
      font-size : 30px;
      color: #FFBDA3;
      width: 67vw;
      height: 7vh;
    }
    .travelQuoteAuthor {
      color: #FFE0C6;
      font-size : 25px;
    }
  }
  .allImageTitle {
    position: relative;
    color: white;
    display: block;
    margin-left: 5%;
    .travelQuote {
      font-size : 30px;
      color: #FFBDA3;
      width: 67vw;
      height: 7vh;
    }
    .travelQuoteAuthor {
      color: #FFE0C6;
      font-size : 25px;
    }
    span {
      float: right;
      position: relative;
      margin-right: 5%;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
    strong {
      font-size: 50px;
      font-weight: bold;
    }
  }
}
// @All images shown to grid
.gridConfig {
  display: inline-block;
  width: 22vw;
  height: 34vh;
  margin: 5px;
  border: white 2px solid;
  img {
    position: relative;
    width: 21.7vw;
    height: 33.5vh;
  }
  .thumbnailInfo {
    display: none;
    position: relative;
    color: white;
    top: -300px;
    margin: 22px;
  }
  &:hover {
    .thumbnailInfo {
      display: table;
    }
    img {
      opacity: 0.5;
    }
    background: black;
  }
}

// mobile device
@media only screen and (min-device-width: 320px) and (max-device-width: 768px){
  .queryResultImage {
    .queryResultImageCfg;
    width: 97%;
    span {
      font-size: 11vw;
      left: 91%;
    }
  }
  .placeInfo {
    .placeInfoCfg;
    .placeImages {
      span {
        height: 9vh;
      }
    }
  }
  .infowWindowSearchBtn {
    .infowWindowSearchBtnCfg;
    left : 82%;
    top : 10%;
  }
  .infoWindowThumbnailImages {
    .infoWindowThumbnailImagesCfg;
    height: 11vh;
  }
  .wrap_queryResultWindow {
    .queryResultConfig;
    .queryresultshow {
      width: 70vw;
      .queryResultClose {
        top: 90%;
        left: 89%;
        button {
          width: 75px;
          height: 50px;
          font-size: 26px;
        }
      }
    }

  }
  .pageTitle {
    .pageTitleConfig;
    p {
      font-size : 105px;
    }
  }

  .top-nav {
    .top-navConfig;
    width: 100%;
    div {
      font-size: 30px;
    }
  }

  #mainContainer {
    .mainContainerConfig;
    width: 99%;
  }
  #mapContainer {
    height: 70%;
    .mapdisplayConfig
  }

  .slide {
    .slideConfig;
    width: 80vw;
    img {
      width: 82vw;
    }
    textarea,input {
      width: 76%;
    }
    button {
      font-size : 30px;
    }
  }
  .current {
    .currentSlideConfig;
    span {
      font-size : 50px;
      width: 100%;
      height: 8vh;
      overflow-y: scroll;
      pointer-events: auto;
    }
    .tagbuttons {
      .tag_btn {
        font-size : 36px;
        height: 60px;
      }
    }
  }

  .dragdealer {
    .handleConfig;
    .imageCarouselTitle {
      position: absolute;
      top: 13%;
      left: 25px;
      color: white;
      span {
        left: 23%;
        font-size : 70px;
      }
      p {
        font-size : 60px;
      }
      .travelQuote {
        font-size : 60px;
        line-height: 38px;
        height: 10vh;
      }
      .travelQuoteAuthor {
        font-size : 50px;
      }

    }
    .allImageTitle {
      span {
        font-size : 95px;
      }
      strong {
        font-size: 88px;
      }
    }
  }
  .handle {
    left: 2%;
    height: 84%;
  }
  .gridthumbnail {
    .gridConfig;
    width: 96%;
    img {
      width: 100%;
      height: 100%;
    }
    .thumbnailInfo {
      top: -312px;
      p {
        font-size: 43px;
      }
    }
  }

  #thumbnails {

    display: block;
    border: darkgrey solid 2px;
    padding: 1px 20px 0 12px;
    height: 30%;
    top: 50px;
    line-height: 32px;
    overflow-x : scroll;
    .icons {
      display: block;
      button {
        font-size: 25px;
        border: none;
        background: transparent;
        color: #000069;
      }
    }
    div {
      margin-top : 20px;
      display: inline-block;
      label {
        font-size : 44px;
        color: #000069;
        margin-bottom: 0;
        position: relative;
      }
      a {
        width: 200px;
        height: 200px;
        position: relative;
        background: gray;
        margin : 10px 15px 0 0;
        img{
          margin:0;
          width: 100%;
          height: 100%;
        }
        &:hover{
          background-color: black;
          img {
            opacity: 0.5
          }
          .badge {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            font-size: 20px;
            background-color: transparent;
          }
        }
        .badge {
          display:none;
        }
      }
    }
    .deleteAlbum_buttons {
      display: none;
    }
  }
}


// middle size device Tab, iPad
@media only screen and  (min-device-width:768px) {
  .queryResultImage {
    .queryResultImageCfg;
  }
  .placeInfo {
    .placeInfoCfg;
  }
  .infowWindowSearchBtn {
    .infowWindowSearchBtnCfg;
  }
  .infoWindowThumbnailImages {
    .infoWindowThumbnailImagesCfg;
  }
  .wrap_queryResultWindow {
    .queryResultConfig
  }
  .pageTitle {
    .pageTitleConfig;
  }
  .top-nav {
    .top-navConfig;
    div {
      span {
        font-size : 21px;
      }
    }
  }
  #mainContainer {
    .mainContainerConfig;
  }

  #mapContainer {
    height: 80%;
    .mapdisplayConfig
  }
  .slide {
    .slideConfig;
  }
  .current {
    .currentSlideConfig;
    span {
      font-size : 30px;
      width: 100%;
      height: 10vh;
      overflow-y: scroll;
      pointer-events: auto;
    }
  }
  .dragdealer {
    .handleConfig;

  }
  .handle {
    left: 40%;
    height: 100%;
  }
  .gridthumbnail {
    .gridConfig;
     width: 405px;
     height: 305px;
     img {
       width: 400px;
       height: 300px;
     }
  }
  .thumbnail_fix;
  #thumbnails {
    width: 15%;
    label{
      font-size: 20px;
    }
    img {
      height: 50px;
    }
  }
}

// large size devices, PC
@media only screen and  (min-device-width: 970px) {
  .queryResultImage {
    .queryResultImageCfg;
  }
  .placeInfo {
    .placeInfoCfg;
  }
  .infowWindowSearchBtn {
    .infowWindowSearchBtnCfg;
  }
  .infoWindowThumbnailImages {
    .infoWindowThumbnailImagesCfg;
  }
  .wrap_queryResultWindow {
    .queryResultConfig;
  }

  .pageTitle {
    .pageTitleConfig;
  }

  .top-nav {
    .top-navConfig;
    div {
      span {
        font-size : 21px;
      }
    }
  }

  #mainContainer {
    .mainContainerConfig;
  }
  #mapContainer {
    height: 100%;
    .mapdisplayConfig
  }

  .slide {
    .slideConfig;
  }
  .current {
    .currentSlideConfig;
    span {
      font-size : 30px;
      width: 100%;
      height: 10vh;
      overflow-y: scroll;
      pointer-events: auto;
    }
  }
  .dragdealer {
    .handleConfig;
    .imageCarouselTitle {
      p {
        font-size : 60px;
        font-weight: bold;
      }
    }
  }

  .handle {
    left: 40%;
    height: 100%;
  }

  .gridthumbnail {
    .gridConfig;
    width: 405px;
    height: 305px;
    img {
      width: 400px;
      height: 300px;
    }
  }

  .thumbnail_fix;
  #thumbnails {
    width: 19%;
    img {
      height: 150px;
    }
  }
}


.pac-container {
  background-color: #FFF;
  z-index: 1051;
  //bootstrap moadl's z-index is set by default to 1050..
  position: fixed;
  float: left;
}
.modal-title {
  margin-left: 13px;
}
.modal-body {
  p {
    span {
      color :red;
      font-weight : 100;
      font-family : "Arial Black";
    }
    font-size: 20px;
    font-weight: bold;
  }
  .searchResultDisplayed {
    margin-top : 20px;
    margin-bottom: 20px;
  }
  button {
    margin-top : 10px;
    height: 40px;
  }
  input {
    width: 70%;
    height: 40px;
  }
}

#dragndropSection {
  border: dashed black 1px;
  height: 150px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
  p {
    margin-top: 6%;
    text-align: center;
  }
}
.file-row {
  margin: 5px;
  display: inline-block;
  span>img {
    border-radius: 8px;
  }
  #pictureTitle {
    margin-top: 5px;
  }
}
#decisionButtons {
  margin-bottom: 10px;
}
#previews {
  margin-top: 10px;
  .input_caption_box {
    display: inline;
    position: relative;
    width: 90%;
    margin: 8px 0 0 15px;
  }
}
.statementIcons {
  display: inline-grid;
  margin-left: 12px;
  .glyphicon-ok {
    display: block;
    font-size: 30px;
    color: gray;
    margin-bottom: 5px;
  }
  .glyphicon-remove {
    display: block;
    font-size: 30px;
    color: gray;
  }
}
#addmodal {
  overflow: scroll;
}




#searchMap {
  height: 300px;
  width: auto;
}
.removeCheck {
  display: none;
}
.deleteAlbum_buttons {
  display: none;
  button {
    display: inline-flex;
  }
}

#afterSaved {
  display: none;
  color: red;
  text-align: center;
  text-shadow: darkred;
  margin: 0;
}
#loadingImage_Back {
  z-index:1100;
  display: none;
  background-color: #231f20;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  #loadingImage {
    position: absolute;
    z-index: 1200;
    width: 400px;
    height: 400px;
    background-image: url(./img/e6fa6b92decd26328f1f3616620b3e89.gif);
  }
}

