<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>== Storing pictures Service depended on Map Position ==</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="map_less.css">
    <script type="text/x-template" id="usageVueTemplate">
        <div class="container guideImages">
            <h1><strong>Pinto Service User Guide</strong></h1>
            <small>easy way to store pictures and make a album</small>
            <br>
            <div class="indexButtons">
                <button type=button class="btn default-btn"><a href="#1">home Navigation bar</a></button>
                <button type=button class="btn default-btn"><a href="#2">PhotoMap</a></button>
                <button type=button class="btn default-btn"><a href="#3">PhotoMap_popupWindow</a></button>
                <button type=button class="btn default-btn"><a href="#4">NearBy Place Search</a></button>
                <button type=button class="btn default-btn"><a href="#5">Albums</a></button>
                <button type=button class="btn default-btn"><a href="#6">Add_Album</a></button>
                <button type=button class="btn default-btn"><a href="#7">SlideShow</a></button>
                <button type=button class="btn default-btn"><a href="#8">Tag</a></button>
            </div>
            <p id="1">1. Navigation Bar</p>
            <img src="./img/guideImages/homenav.png">
            <p id="2">2. PhotoMap</p>
            <img src="./img/guideImages/photomap.png">
            <p id="3">3. PhotoMap blue Pin Click Event</p>
            <img src="./img/guideImages/phtomapPopupWindow_f.gif">
            <p id="4">4. PhotoMap Green Pin Click Event</p>
            <img src="./img/guideImages/greenpinPopupWindow_f.gif">
            <p id="5">5. Albums</p>
            <img src="./img/guideImages/thumbnailVue.png">
            <p id="6">6. Add Album</p>
            <img src="./img/guideImages/modalVue.png">
            <p id="7">7. Album SlideShow</p>
            <img src="./img/guideImages/slideshow.png">
            <p id="8">8. Album Image Tag</p>
            <img src="./img/guideImages/resultWindow.png">
        </div>
</script>

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-6355984019873215",
            enable_page_level_ads: true
        });
    </script>
</head>

<body>

<div class="backImg"></div>
<div class="pageTitle">
    <p>_ PinTo</p>
</div>

<div class="container" id="mainContainer">
    <nav class="top-nav">
        <div id="homeLink">
            <span class="glyphicon glyphicon-home"><a href="index.html">&nbsp;Home</a></span>
        </div>
        <div id="usageLink">
            <span class="glyphicon glyphicon-question-sign">&nbsp;Usage</span>
        </div>
        <div id="photoMap">
            <span class="glyphicon glyphicon-plane">&nbsp;PhotoMap</span>
        </div>
        <div id="LogOut">
            <span class="glyphicon glyphicon-fire">&nbsp;LogOut</span>
        </div>
    </nav>
    <template class="usageVueMount">

    </template>
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" id="mapContainer">
            <div id="mapDisplayed"></div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="thumbnails" :data-images="images">
            <div class="icons">
                <!-- modal window popup toggle -->
                <button data-toggle="modal" data-target="#addModal" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                <!-- removeAlbum process started, remove checkbox is shown and activate buttons to remove albums -->
                <button type="button"><span class="glyphicon glyphicon-minus" @click="removeAlbum"></span></button>
                <!-- collected slide show button -->
                <button type="button"><span class="glyphicon glyphicon-th-large" @click="allImagesShowing"></span></button>
            </div>
            <template v-for="content in images">
                <thumbnail :image-Info="images" :content-Title="content.title" :image-Url="content.representedImage" :total-Contents="content.counter"
                           :total-Images="content.totalImageOfthis" :database-Title="content.dbTitle" :location="content.location"
                           :geo="content.geo" :caption="content.captions" :album-Num="content.albumNum" :tag="content.tag"
                           :quotes="content.quotes" @checked="checkedContentCollect">

                </thumbnail>

            </template>
            <div class="deleteAlbum_buttons">
                <button class="btn btn-warning cancel" @click="cancelAlbum">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                <button class="btn btn-danger delete" @click="deleteAlbum">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--Image gallery showing when clicking a image icon @click="showImages"-->

<div id="image-carousel" class="dragdealer">
    <div class="imageCarouselTitle" v-show="currentView === 'gallerythumbnail'">
        <span>&times;</span>
        <p>Pieces of your Journey</p>
        <p class="travelQuote"></p>
        <p class="travelQuoteAuthor"></p>
    </div>
    <div class="allImageTitle" v-show="currentView === 'gridthumbnail'">
        <span>&times;</span>
        <strong>All pieces of Memories</strong>
        <p class="travelQuote"></p>
        <p class="travelQuoteAuthor"></p>
    </div>
    <div class="handle">
        <template v-for="(val, key) in images">
            <div class="wrap_component" v-for="(val1, key1) in val.totalImageOfthis" :key="val1">
                <component :is="currentView" :tags="tags" :image-Url="val1" :image-Counter="key1"
                           :image-Info="val" :caption="captions"
                           @captionadded="captionAdd" @tagadded="tagAdd" @searchresult="queryGridGallery"></component>
            </div>
        </template>
    </div>
    <div class="wrap_queryResultWindow">
        <div class="queryresultshow">
            <div class="queryResultTitle">
                <p>Search result</p>
            </div>
            <div class="queryResultClose">
                <button type="button" class="btn-warning btn" id="resultClose" @click="closeQueryWindow">Close</button>
            </div>
            <!--<template v-for="(val, key) in queryresult">-->
                <!--<querythumbnail :image-Info="val"></querythumbnail>-->
            <!--</template>-->
        </div>
    </div>
</div>

<div class="queryresultimage_back">
    <div class="queryResultImage"></div>
</div>


<div id="addModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-title">
                <h1>Add a Repository</h1>
            </div>
            <div class="modal-body">
                <p><span>*</span> Search Location</p>
                <input v-model='location' id="inputLocationName" type="text" @keyup.enter="fireClick">
                <button type="button" id="SearchBtn">Search</button>
                <div class="searchResultDisplayed">
                    <div id="searchMap">

                    </div>
                </div>
                <p><span>*</span> title</p>
                <input v-model="title" id="inputTitle" type="text">
                <p><span>*</span> Date</p>
                <input type="date" v-model="date" id="inputDate">
                <p>description</p>
                <input v-model="desc" id="inputDesc" type="text">

                <div id="dragndropSection">
                    <div id="previews">
                        <div id="template" class="file-row">
                            <div class="input_caption_box">
                                <span class="preview"><img data-dz-thumbnail /></span>
                            </div>
                        </div>
                    </div>
                    <p id="afterSaved">
                        <strong>
                            All files is updated to server!
                            escape this window by pressing 'ESC' or clicking outside of this window..
                        </strong>
                    </p>
                    <p id="defaultMsg">
                        <strong>Drag and drop into here!</strong>
                    </p>
                </div>
                <div id="decisionButtons">
                    <button class="btn btn-primary start" @click="start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete" @click="cancel">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>DeleteAll</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="loadingImage_Back">
    <div id="loadingImage">

    </div>
</div>
<div class="container-fluid hidden" id="gridWindow">
    <div class="grid">

    </div>
</div>

<div class="footer">
    <div class="footer_content center-block">
        <p><strong>Developer Info</strong></p>
        <p>Developer : Byoung Cheol Kang / Country : Republic of Korea / E-mail : dreamty88@gmail.com</p>
        <p>Tel : +82 10-6221-9113</p>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    var require = {
        baseUrl: './src',
        paths: {
            google: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBVwk_iAbB5EqaN02HdCgo4CEKVepMIz7I&libraries=geometry,places',
            jquery: 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min',
            firebase : 'https://www.gstatic.com/firebasejs/4.2.0/firebase',
            bootstrap : 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min',
            elasticsearch : '../lib/elasticsearch.jquery.min'
        },
        shim : {
            'firebase': {
                exports: 'firebase'
            },
            'bootstrap': {
                dep: ['jquery']
            }
        }
    }
</script>
<script src="./lib/require.js"></script>

<script>
    var modalVue;
    var thumbnailVue;
    require(['thumbnailVue', 'modalVue'], function(thumbnail, modal) {

        modalVue = new Vue(modal.modalVue);
        thumbnailVue = new Vue(thumbnail.thumbnailVue);

        require(['modalMapInit', 'navigationEvents'], function(){

        })
    });


</script>

</body>
</html>