@font-face {
  font-family: whatever;
  src: url(./font/whatever.ttf);
  font-size: 50px;
}
@font-face {
  font-family: whatever-bold;
  src: url(./font/whatever_bold.ttf);
}
@font-face {
  font-family: miseng;
  src: url(./font/SDMisaeng.ttf);
}
@font-face {
  font-family: airways;
  src: url(./font/Airways.ttf);
}


.backImg {
  background: url(./img/snow-gif-8.gif) no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index : 1;
}
body {
  font-family: miseng;
  font-size: 25px;
}
.wrap_queryResultWindow {
  width: 400px;
  height: 97%;
  float : right;
  background-color : rgba(189,189,189,0.93);
  border : solid 2px grey;
  border-radius: 10px;
  box-shadow: -15px 14px 24px grey;
  margin : 20px 0 0 0;
  .queryresultshow {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    margin : 20px 0 0 0;
    .queryResultTitle {
      font-weight: bold;
      width: 100%;
      margin-top : 10px;
      height: 40px;
      p {
        text-align: center;
        font-size : 40px;
      }
    }

    .queryResultClose {
      position: fixed;
      display: inline-block;
      top: 93%;
      left: 94%;
      button {
        width: 50px;
      }
    }
    .querythumbnail {
      width: 100%;
      height : 30%;
      padding: 20px;

      img {
        background-color : lightgrey;
        width: 100%;
        height: 100%;
        border: solid 2px black;
        padding: 5px;
        border-radius : 5%;
      }
      .thumbnailInfo {
        display: none;
        position: relative;
        line-height: 20px;
        top : -100%;
        padding : 10px;
        color: white;
        width: 100%;
        height: 100%;
      }
      &:hover {
        .thumbnailInfo {
          background-color : rgba(0,0,0,0.6);
          display: inline-block;
          height: 100%;
          width: 100%;

        }
      }
    }
  }

}

//Title default Config
.pageTitleConfig {
  width: 100%;
  position: fixed;
  display: block;
  text-align: center;
  letter-spacing: 16px;
  top: 1%;
  z-index : 2;
  p {
    font-size: 70px;
    font-family: airways;
    font-weight: 400;
    color: antiquewhite;
  }
}

.top-navConfig {
  height: 50px;
  width: 100%;
  margin-top: 1%;
  position: relative;
  display: block;
  border-bottom: solid lightgrey 2px;

  div {
    margin: 12px 0 0 17px;
    color: white;
    font-size: 20px;
    word-spacing: -11px;
    display: inline-flex;
    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
    &:visited {
      color: white;
    }
  }
  #LogOut {
    cursor: pointer;
  }
}



.thumbnail_fix {
  #thumbnails {
    float: left;
    border: double darkgrey 5px;
    height: 100%;
    margin: 22px 0 0 0;
    display: inline-block;
    overflow-y: scroll;
    .icons {
      margin-bottom: 5px;
      display: flex;
      justify-content: flex-end;
      color: darkgrey;
      button  {
        background-color: transparent;
        border: none;
        span {
          font-size: 20px;

        }
      }
    }
    label  {
      color : white;
    }
    a{
      margin-top: 10px;
      margin-right: 10px;
      position: relative;
      background: gray;
      img{
        margin:0;
        width: 100%;
      }
      &:hover{
        background-color: black;
        img {
          opacity: 0.5
        }
        .badge {
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          font-size: 20px;
          background-color: transparent;
        }
      }
      .badge {
        display:none;
      }
    }
  }
}

// @maincontainerConfig
.mainContainerConfig {
  left: 50%;
  transform: translateX(-50%);
  height:70%;
  width: 80%;
  top: 13%;
  position: absolute;
  z-index : 2;
  .row {
    height: 100%;
  }
}

// @mapContainer variable
.mapdisplayConfig {
  #mapDisplayed {
    display: inline-block;
    width: 100%;
    height: 100%;
    top: 20px;
    box-shadow:14px 14px 10px grey;
    border: solid 2px #464646;
  }
}
@keyframes slideIn {
  from {transform: perspective(15px) translateZ(0px)}
  to {transform: perspective(15px) translateZ(-2px)}
}
@keyframes slideOut {
  from {transform: perspective(15px) translateZ(-2px)}
  to {transform: perspective(15px) translateZ(0px)}
}
// @slide show default config
.slideConfig {
  transform-style: preserve-3d;
  transform: perspective(15px) translateZ(-2px);
  display: inline-grid;
  pointer-events: none;
  user-select: none;
  margin: 5px;
  position: relative;
  height: 485px;
  width: 580px;
  span {
    display: none;
    position: relative;
    color: white;
  }
  textarea {
    display:none;
    position: relative;
    width: 470px;
    height: 70px;
  }
  input {
    display: none;
    position: relative;
    width: 480px;
  }
  button {
    display:none;
    position: relative;
    float: right;
  }
  img {
    opacity: 0.4;
    width: 100%;
    position: relative;
  }
  .tag_btn {
    float: left;
  }
  .container_tag {
    margin-top: 5px;
  }
  .container_captionArea {
    button {
      top: 16px;
    }
    margin-top: 5px;
  }
}

// @current slide of slides configuration
.currentSlideConfig {
  animation: slideOut 4s;
  transform: perspective(15px) translateZ(0px);
  span {
    display: inline;
  }
  textarea, button,input {
    display: inline;
    pointer-events: auto;
    user-select: text;
  }
  img {
    opacity: 1;
    padding: 5px;
    border: red dashed 2px;
  }
  .tagbuttons {
    display: inline-block;
  }
}

//image-carousel style
.handleConfig {
  display: none;
  background: rgba(0,0,0,0.8);
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 3;
  .imageCarouselTitle {
    position: absolute;
    top: 13%;
    left: 30%;
    color: white;
  }
  .allImageTitle {
    position: relative;
    color: white;
    display: block;
    margin-left: 5%;
    span {
      float: right;
      position: relative;
      margin-right: 5%;
      font-size: 40px;
      cursor: pointer;
      &:hover {
        color: gray;
      }
    }
    strong {
      font-size: 50px;
      font-weight: bold;
    }
    small {
      font-size: 40px;
      font-weight: 100;
      color: lightgrey;
    }
  }
}
// @All images shown to grid
.gridConfig {
  display: inline-block;
  width: 405px;
  height: 305px;
  margin: 5px;
  border: white 2px solid;
  img {
    position: relative;
  }
  .thumbnailInfo {
    display: none;
    position: relative;
    color: white;
    top: -300px;
    margin: 22px;
  }
  &:hover {
    .thumbnailInfo {
      display: table;
    }
    img {
      opacity: 0.5;
    }
    background: black;
  }
}


@media only screen and (min-device-width: 400px) and (max-device-width: 768px){
  .pageTitle {
    .pageTitleConfig;
    p {
      font-size : 105px;
    }
  }

  .top-nav {
    .top-navConfig;
    div {
      font-size: 30px;
    }
  }

  #mainContainer {
    .mainContainerConfig;
  }
  #mapContainer {
    height: 70%;
    .mapdisplayConfig
  }

  .slide {
    .slideConfig;
    //width: 370px;
    //height: 220px;
    //textarea {
    //  width: 279px;
    //  height: 50px;
    //}
    //input {
    //  width: 293px;
    //}
    //.container_captionArea {
    //  button {
    //    top : 8px;
    //  }
    //}
  }
  .current {
    .currentSlideConfig
  }

  .dragdealer {
    .handleConfig;
    .imageCarouselTitle {
      position: absolute;
      top: 13%;
      left: 25px;
      color: white;
    }
    .allImageTitle {
      strong {
        font-size: 40px;
      }
      small  {
        font-size: 30px;
      }
    }
  }
  .handle {
    left: 40%;
    height: 84%;
  }
  .gridthumbnail {
    .gridConfig;
    width: 191px;
    height: 191px;
    img {
      width: 186px;
      height: 186px;
    }
    .thumbnailInfo {
      top: -181px;
      p {
        font-size: 18px;
      }
    }
  }

  #thumbnails {

    display: block;
    border: darkgrey solid 2px;
    padding: 1px 20px 0 12px;
    height: 35%;
    top: 36px;
    .icons {
      display: block;
      button {
        font-size: 25px;
        border: none;
        background: transparent;
        color: darkgrey;
      }
    }
    div {
      display: inline-block;
      label {
        color: white;
        margin-bottom: 0;
        position: relative;
      }
      a {
        width: 200px;
        height: 200px;
        position: relative;
        background: gray;

        img{
          margin:0;
          width: 100%;
          height: 100%;
        }
        &:hover{
          background-color: black;
          img {
            opacity: 0.5
          }
          .badge {
            position: absolute;
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: block;
            font-size: 20px;
            background-color: transparent;
          }
        }
        .badge {
          display:none;
        }
      }
    }
    .deleteAlbum_buttons {
      display: none;
    }
  }
}
@media only screen and  (min-device-width:768px) {
  .pageTitle {
    .pageTitleConfig;
  }
  .top-nav {
    .top-navConfig;
  }
  #mainContainer {
    .mainContainerConfig;
  }

  #mapContainer {
    height: 80%;
    .mapdisplayConfig
  }
  .slide {
    .slideConfig;
  }
  .current {
    .currentSlideConfig;
  }
  .dragdealer {
    .handleConfig;
  }
  .handle {
    left: 40%;
    height: 100%;
  }
  .gridthumbnail {
    .gridConfig;
     width: 405px;
     height: 305px;
     img {
       width: 400px;
       height: 300px;
     }
  }
  .thumbnail_fix;
  #thumbnails {
    width: 15%;
    label{
      font-size: 20px;
    }
    img {
      height: 50px;
    }
  }
}
@media only screen and  (min-device-width: 970px) {
  .pageTitle {
    .pageTitleConfig;
  }

  .top-nav {
    .top-navConfig;
  }

  #mainContainer {
    .mainContainerConfig;
  }
  #mapContainer {
    height: 100%;
    .mapdisplayConfig
  }

  .slide {
    .slideConfig;
  }
  .current {
    .currentSlideConfig;
  }
  .dragdealer {
    .handleConfig;
  }

  .handle {
    left: 40%;
    height: 100%;
  }

  .gridthumbnail {
    .gridConfig;
    width: 405px;
    height: 305px;
    img {
      width: 400px;
      height: 300px;
    }
  }

  .thumbnail_fix;
  #thumbnails {
    width: 19%;
    img {
      height: 150px;
    }
  }
}


.pac-container {
  background-color: #FFF;
  z-index: 1051;
  //bootstrap moadl's z-index is set by default to 1050..
  position: fixed;
  float: left;
}
.modal-title {
  margin-left: 13px;
}
.modal-body {
  p {
    font-size: 20px;
    font-weight: bold;
  }
  .searchResultDisplayed {
    margin-top : 20px;
    margin-bottom: 20px;
  }
  button {
    margin-top : 10px;
    height: 40px;
  }
  input {
    width: 70%;
    height: 40px;
  }
}

#dragndropSection {
  border: dashed black 1px;
  height: 150px;
  width: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow-y: scroll;
  p {
    margin-top: 6%;
    text-align: center;
  }
}
.file-row {
  margin: 5px;
  display: inline-block;
  span>img {
    border-radius: 8px;
  }
  #pictureTitle {
    margin-top: 5px;
  }
}
#decisionButtons {
  margin-bottom: 10px;
}
#previews {
  margin-top: 10px;
  .input_caption_box {
    display: inline;
    position: relative;
    width: 90%;
    margin: 8px 0 0 15px;
  }
}
.statementIcons {
  display: inline-grid;
  margin-left: 12px;
  .glyphicon-ok {
    display: block;
    font-size: 30px;
    color: gray;
    margin-bottom: 5px;
  }
  .glyphicon-remove {
    display: block;
    font-size: 30px;
    color: gray;
  }
}
#addmodal {
  overflow: scroll;
}




#searchMap {
  height: 300px;
  width: auto;
}
.removeCheck {
  display: none;
}
.deleteAlbum_buttons {
  display: none;
  button {
    display: inline-flex;
  }
}

#afterSaved {
  display: none;
  color: red;
  text-align: center;
  text-shadow: darkred;
  margin: 0;
}
#loadingImage_Back {
  z-index:1100;
  display: none;
  background-color: #231f20;
  opacity: 0.7;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  left:0;
  #loadingImage {
    position: absolute;
    z-index: 1200;
    width: 400px;
    height: 400px;
    background-image: url(./img/e6fa6b92decd26328f1f3616620b3e89.gif);
  }
}

