<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map content</title>

    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet/less" href="map_less.less">
    <script src="./lib/less.min.js"></script>
</head>

<body>

<div class="backImg"></div>
<div class="pageTitle">
    <p>_ PinTo</p>
</div>

<div class="container" id="mainContainer">
    <nav class="top-nav">
        <div id="homeLink">
            <span class="glyphicon glyphicon-home"><a href="index.html">&nbsp;Home</a></span>
        </div>
        <div id="LogOut">
            <span class="glyphicon glyphicon-fire">&nbsp;LogOut</span>
        </div>
    </nav>
    <div class="row">
        <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12" id="mapContainer">
            <div id="mapDisplayed"></div>

        </div>

        <div class="col-md-3 col-lg-3 col-sm-12 col-xs-12" id="thumbnails" :data-images="images">
            <div class="icons">
                <!-- modal window popup toggle -->
                <button data-toggle="modal" data-target="#addModal" type="button"><span class="glyphicon glyphicon-plus"></span></button>
                <!-- removeAlbum process started, remove checkbox is shown and activate buttons to remove albums -->
                <button type="button"><span class="glyphicon glyphicon-minus" @click="removeAlbum"></span></button>
                <!-- collected slide show button -->
                <button type="button"><span class="glyphicon glyphicon-th-large" @click="allImagesShowing"></span></button>
            </div>
            <template v-for="content in images">
                <thumbnail :image-Info="images" :content-Title="content.title" :image-Url="content.representedImage" :total-Contents="content.counter"
                           :total-Images="content.totalImageOfthis" :database-Title="content.dbTitle" :location="content.location"
                           :geo="content.geo" :caption="content.captions" :album-Num="content.albumNum" :tag="content.tag" @checked="checkedContentCollect">

                </thumbnail>

            </template>
            <div class="deleteAlbum_buttons">
                <button class="btn btn-warning cancel" @click="cancelAlbum">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                <button class="btn btn-danger delete" @click="deleteAlbum">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>
    </div>
</div>
<!--Image gallery showing when clicking a image icon @click="showImages"-->

<div id="image-carousel" class="dragdealer">
    <div class="imageCarouselTitle" v-show="currentView === 'gallerythumbnail'">
        <span>&times;</span>
        <h1><strong>Pieces of your Journey</strong></h1>
    </div>
    <div class="allImageTitle" v-show="currentView === 'gridthumbnail'">
        <span>&times;</span>
        <strong>All pieces of Memories</strong><br><small>Travel is only glamorous in retrospect.</small>
    </div>
    <div class="handle">
        <template v-for="(val, key) in images">
            <div class="wrap_component" v-for="(val1, key1) in val.totalImageOfthis" :key="val1">
                <component :is="currentView" :tags="tags" :image-Url="val1" :image-Counter="key1" :image-Info="val" :caption="captions"
                           @captionadded="captionAdd" @tagadded="tagAdd" @searchresult="queryGridGallery"></component>
            </div>
        </template>
    </div>
    <div class="wrap_queryResultWindow" v-if="isQuery">
        <div class="queryresultshow">
            <div class="queryResultTitle">
                <p>Search result</p>
            </div>
            <div class="queryResultClose">
                <button type="button" class="btn-warning btn" id="resultClose" @click="closeQueryWindow">Close</button>
            </div>
            <template v-for="(val, key) in queryresult">
                <querythumbnail :image-Info="val"></querythumbnail>
            </template>
        </div>
    </div>
</div>


<div id="addModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-title">
                <h1>Add a Repository</h1>
            </div>
            <div class="modal-body">
                <p>Search Location</p>
                <input v-model='location' id="inputLocationName" type="text" @keyup.enter="fireClick">
                <button type="button" id="SearchBtn">Search</button>
                <div class="searchResultDisplayed">
                    <div id="searchMap">

                    </div>
                </div>
                <p>title</p>
                <input v-model="title" id="inputTitle" type="text">
                <p>Date</p>
                <input type="date" v-model="date" id="inputDate">
                <p>description</p>
                <input v-model="desc" id="inputDesc" type="text">

                <div id="dragndropSection">
                    <div id="previews">
                        <div id="template" class="file-row">
                            <div class="input_caption_box">
                                <span class="preview"><img data-dz-thumbnail /></span>
                            </div>
                        </div>
                    </div>
                    <p id="afterSaved">
                        <strong>
                            All files is updated to server!
                            escape this window by pressing 'ESC' or clicking outside of this window..
                        </strong>
                    </p>
                    <p id="defaultMsg">
                        <strong>Drag and drop into here!</strong>
                    </p>
                </div>
                <div id="decisionButtons">
                    <button class="btn btn-primary start" @click="start">
                        <i class="glyphicon glyphicon-upload"></i>
                        <span>Start</span>
                    </button>
                    <button data-dz-remove class="btn btn-danger delete" @click="cancel">
                        <i class="glyphicon glyphicon-trash"></i>
                        <span>DeleteAll</span>
                    </button>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="loadingImage_Back">
    <div id="loadingImage">

    </div>
</div>
<div class="container-fluid hidden" id="gridWindow">
    <div class="grid">

    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script>
    var require = {
        baseUrl: './src',
        paths: {
            google: 'https://maps.googleapis.com/maps/api/js?key=AIzaSyBVwk_iAbB5EqaN02HdCgo4CEKVepMIz7I&libraries=geometry,places',
            jquery: 'https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min',
            firebase : 'https://www.gstatic.com/firebasejs/4.2.0/firebase',
            bootstrap : 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min',
            elasticsearch : '../lib/elasticsearch.jquery.min'
        },
        shim : {
            'firebase': {
                exports: 'firebase'
            },
            'bootstrap': {
                dep: ['jquery']
            }
        }
    }
</script>
<script src="./lib/require.js"></script>

<script>
    var modalVue;
    var thumbnailVue;
    require(['thumbnailVue', 'modalVue'], function(thumbnail, modal) {

        modalVue = new Vue(modal.modalVue);
        thumbnailVue = new Vue(thumbnail.thumbnailVue);

        require(['main'], function(){

        })
    });
</script>

</body>
</html>